<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width,initial-scale=1" />
  <title>{{ page.title }} – {{ site.title | default: "My Site" }}</title>
  <link rel="stylesheet" href="{{ '/assets/css/style.css' | relative_url }}">
  <link rel="icon" href="{{ '/assets/images/sabinicon.png' | relative_url }}" type="image/png">
</head>
<body>
  <nav class="nav-container">
    <div class="nav-inner">
      <a href="{{ '/' | relative_url }}" class="{% if page.url == '/' %}active{% endif %}">Home</a>
      <a href="{{ '/about/' | relative_url }}" class="{% if page.url == '/about/' %}active{% endif %}">About</a>
      <div class="nav-item projects{% if page.url contains '/projects/' %} active{% endif %}">
        <a href="{{ '/projects/' | relative_url }}" class="{% if page.url contains '/projects/' %}active{% endif %}">Projects</a>
        {% if page.url contains '/projects/afl-data/' %}
        <div class="nav-sub-menu">
          <a href="/projects/afl-data/" class="{% if page.url contains '/projects/afl-data/' %}active{% endif %}">Footy Numbers</a>
        </div>
        {% endif %}
      </div>
      <a href="{{ '/thoughts/' | relative_url }}" class="{% if page.url == '/thoughts/' %}active{% endif %}">Thoughts</a>
    </div>
  </nav>
  <main>
    {{ content }}
  </main>
  <script src="{{ '/assets/js/main.js' | relative_url }}"></script>
</body>
</html>
