<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width,initial-scale=1" />
  <title>{{ page.title }} – {{ site.title | default: "My Site" }}</title>
  <link rel="stylesheet" href="{{ '/assets/css/style.css' | relative_url }}">
  <link rel="icon" href="{{ '/assets/images/sabinicon.png' | relative_url }}" type="image/png">
</head>
<body>
    <nav>
        <a href="{{ '/' | relative_url }}">Home</a>
        <a href="{{ '/about/' | relative_url }}">About</a>
        <a href="{{ '/projects/' | relative_url }}">Projects</a>
        <a href="{{ '/thoughts/' | relative_url }}">Thoughts</a>
    </nav>
  <main>
    {{ content }}
  </main>
  <script src="{{ '/assets/js/main.js' | relative_url }}"></script>
</body>
</html>